.DS_Store
.localized
Borns/
GIMP-2.10
MVI_0272.MOV
New Folder With Items/
Paper Tigers/
Programming project folders/
likingLikesDavidGonzales/
myCSSLibraryDavAnGo/
pics may 2022/
screensavers/
step by step upload to GitHub.png
workhop/