<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Details</title>
</head>
<body>
    <div class="title">
        <h1>{{this_dojo.name}}</h1>
    </div>
    <div class="details">
        <h2>Dojo # {{this_dojo.id}}</h2>
        <h3>Ninjas:</h3>
        
    </div>
</body>
</html>