<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Creator</title>
</head>
<body>
    <div class="container">
        <h1 class="makeDojoTitle">Input Dojo Details</h1>
        <div class="form0">
            <form action="/create_dojo" method="POST">
                <label for="name">Dojo Name </label><br>
                <input type="text" name="name">
                <input class = "createDojoButton" type="submit" value="Add Dojo">
            </form>
            <a class="showDojosLink" href="/dojo_show">All Dojos</a>
        </div>
    </div>
</body>
</html>