<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Creator</title>
</head>
<body>
    <h1>Input Ninja Details</h1>
    <div class="borderContainer">
        <div class="container0">
            <form action="/create/ninja" method="POST">
    
                <label for="name">First Name: </label><br>
                <input type="text" name="first_name"><br>
                
                <label for="name">Last Name: </label><br>
                <input type="text" name="last_name"><br>
                
                <label for="age">Age: </label><br>
                <input type="text" name="age"><br>
        
                <label for="dojos_id">Dojo: </label><br>
                <select name="dojos_id"><br>
                    {%for dojo in dojos%}
                    <option value="{{dojo.id}}">{{dojo.name}}</option>
                    {%endfor%}
                </select><br>
        
                <input type="submit" value="Add Ninja">
            </form>
        </div>
    </div>
</body>
</html>