<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <div class="formBox">
            <h1 class="title">Dojo Survey</h1>
            <form action="/take_survey" method="POST">
                <div class="nameEntry">
                    <label for="full_name">Full Name:</label><br>
                    <input type = text id = "full_name" name = "full_name">
                </div>
                <div class="locationEntry">
                    <label for="my_location">Location:</label><br>
                    <select name = "my_location">
                        <option value = "Seattle">Seattle</option>
                        <option value = "Chicago">Chicago</option>
                        <option value = "Los Angeles">Los Angeles</option>
                        <option value = "San Jose">San Jose</option>
                    </select>
                </div>
                <div class="langEntry">
                    <label for="fav_lang">Favorite Language:</label><br>
                    <select name = "fav_lang">
                        <option value = "HTML">HTML</option>
                        <option value = "CSS">CSS</option>
                        <option value = "JavaScript">JavaScript</option>
                        <option value = "Python">Python</option>
                    </select>
                </div>
                <div class="commentEntry">
                    <label for = "comments">Comments:</label><br>
                    <textarea id = "comments" name = "comments" rows="12" cols="40"></textarea>
                </div>
                <div class="submit">
                    <input type="submit" value ="Submit" name = "submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>